@import 'ember-paper';
@import 'normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:global(#app) {
  margin: 5vh;
  border: 2px solid;
  border-radius: 19px 19px 0 0;
}

:global(#app-top) {
  height: 95vh;
}

:global(#app-top-top) {
  text-align: center;
  overflow: auto;
  border-bottom: 2px solid;
}

:global(#app-top-bot) {

}

:global(#app-bot) {
  padding: 5%;
  border-top: 2px solid;
}