:global(.looks-3) {
  color: blue !important;
}

:global(.looks-two) {
  color: green !important;
}

:global(.looks-one) {
  color: red !important;
}

:global(.slot-container) > div {
  width: 100%;
}

.game-container {
  width: 100%;
  padding: 0 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instruction-container {
  text-align: left;
}

.credit-container {
  text-align: right;
}