<h1>Slot Machine</h1>

Firebase link: <a target="_blank" href="https://console.firebase.google.com/u/3/project/casino-cb01a/settings/general/">https://console.firebase.google.com/u/3/project/casino-cb01a/settings/general/</a> <br>

{{#link-to 'login'}}login page{{/link-to}}

<div class="container">
{{outlet}}
</div>